body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #f8f9fB; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ededed; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a; 
}

.header a {
  color: #aaaaaa;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  color: #ffffff;
}

.button {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: 0%;
  color: #000000;
  padding: 42x 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 6px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #000000; 
  color: #ffffff; 
}

.button1:hover {
  background-color: #ffffff;
  color: #000000;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.text {
  font-size: 50%;
}

.modal {
  font-family: "Helvetica Neue", sans-serif;
  padding: 5px;
  color: #000;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: #ffffff;
  border: solid #000;
}

.modal a {
  float: none;
  padding: 0px;
}
.modal a:hover {
  font-weight: bold;
}

input {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

#domEl {
  position: relative;
  height: 230px;
  width: 500px;
  padding: 20px;
  background: #fff4f4;
  border: 1px solid #ddd;
}