@font-face {
  font-family: "SpaceMono";
  src: url(./fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: SpaceMono, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header a {
  color: #aaaaaa;
  text-align: center;
  text-decoration: none;
}

.header a:hover {
  color: #ffffff;
}

.button {
  font-family: SpaceMono, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #000;
  border: none;
  border-radius: 0%;
  color: #fff;
  padding: 42x 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 6px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #fff; 
  color: #000; 
  border: 2px solid #000;
}

.button1:hover {
  background-color: #000;
  color: #fff;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.text {
  font-size: 50%;
}

.modal {
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  padding: 5px;
  color: #000;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: #ffffff;
  border: solid #000;
  font-family: SpaceMono, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
}

.modal a {
  float: none;
  padding: 0px;
}
.modal a:hover {
  font-weight: bold;
}